/* text: #E8E8E8
background: #24282D
secondary background: #31363F
active: #36CFBA
highlight: #F05454 
font-family: 'Jost', sans-serif;
border-radius: 5px 
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
*/

.landing-body {
  background-color: #24282d;
  font-family: "Jost", sans-serif;
} 

  .body {
    font-family: "Oswald", sans-serif;
  }

.wrapper {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 125 125 125 56px 125px;
  /* grid-auto-rows: minmax(18vh, auto); */
  margin: 1rem;
}

.box1 {
  margin: 0;
}

.box2 {
  background-color: #31363f;
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 4;
  grid-column: 2/4;
  grid-row: 2/3;
}

.main-nav {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 4;
  grid-row-end: 5;
  grid-column: 1/5;
  grid-row: 3/5;
  font-family: "Oswald", sans-serif;
  letter-spacing: 3px;
}

/* Blog Card CSS */

#blog-card-image {
  height: 20vh;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}

#blog-card-image img {
  position: absolute;
  top: -100%;
  left: 0;
  right: 0;
  bottom: -100%;
  margin: auto;
}

.title-card-text {
  font-family: "Oswald", sans-serif;
  letter-spacing: 8px;
}

a:link {
  color: rgb(153, 150, 150);
}

.blog-card-title {
  font-size: 1rem!important;
  font-weight: bold;
  letter-spacing: 1px;
  margin: 10px 10px 10px 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
}

.container:hover .blog-description {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 0.9;
}


.blog-description {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #215b6d;
  overflow: hidden;
  width: 100%;
  height: 100%;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.text {
  color: #e8e8e8;
  font-family: "Oswald", sans-serif;
  font-size: 0.9rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
}

.blog-card-category {
  font-size: 0.9rem;
  letter-spacing: 3px;
  border: 2px solid rgb(30, 96, 116);
  background-color: rgb(30, 96, 116);
  border-radius: 5px 5px 0px 0px;
  width: 100%;
  height: 35px;
  font-weight: 400;
  padding: 5px 0 0 10px;
  opacity: 0.9;
}

.sticky-top {
  box-shadow: 0px 10px 19px -1px rgba(0, 0, 0, 0.6);
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 900px) {
  .wrapper {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 125 125 125 75px 125px;
    /* grid-auto-rows: minmax(18vh, auto); */
    margin: 1rem;
  }

  .box2 {
    grid-column-start: 1;
    grid-column: 1/4;
    grid-row: 2/4;
  }

  .main-nav {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-column: 1/4;
    grid-row: 4/5;
  }
}

/* .title-card-text{
  font-size: 15rem;
  line-height: 90vh;
  letter-spacing: 2px;
  color: #E8E8E8;
  font-weight: 900;
  text-shadow: 4px 4px 0px #eb452b, 
              8px 8px 0px #efa032, 
              11px 11px 0px #46b59b, 
              12px 12px 0px #017e7f, 
              16px 16px 0px #052939, 
              18px 18px 0px #c11a2b;
} */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .wrapper {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 125 125 125 75px 125px;
    /* grid-auto-rows: minmax(18vh, auto); */
    margin: 1rem;
  }

  .box2 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-column: 1/3;
    grid-row: 2/4;
  }

  .main-nav {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-column: 1/3;
    grid-row: 4/5;
  }
}
