gradVideos-body {
  overflow: hidden;
}
.gradVideos-body {
  display: grid;
  grid-template-columns: 70% 30%;
  background-color: #24282d;
}
.gradVideos-navBar {
  grid-column: 1/3;
}
.gradVideos-leftSide {
  display: grid;
  justify-content: center;
  grid-column: 1/2;
}
.gradVideos-mainVid {
  height: auto;
  width: 55rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.gradVideos-mainVid iframe {
  border-radius: 5px;
  box-shadow: 0 4px 8px 5px rgba(146, 146, 146, 0.08),
    0 6px 20px 6px rgba(146, 146, 146, 0.08);
}
.gradVideos-mainVid div {
  width: 700px;
  height: 500px;
}
.gradVideos-rightSide {
  display: grid;
  justify-content: center;
  grid-column: 2/3;
  border-left: 2px solid ivory;
  background-color: whitesmoke;
}
.gradVideos-scrollBar {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 95vh;
  overflow: scroll;
  padding: 2rem 0rem;
}
.gradVideos-smallVidWrapper {
  width: 20rem;
  height: auto;
  margin: 1rem;
  box-shadow: 0 4px 8px 5px rgba(146, 146, 146, 0.08),
    0 4px 8px 5px rgba(146, 146, 146, 0.08);
}
.gradVidoes-smallVid {
  width: 100%;
  height: auto;
}
