/* about page */
.about-title-container {
  background-image: url(./images/about-title-image.jpeg);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: 90%;
  height: 70vh;
  width: auto;
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
}

#about-title {
  text-align: center;
  font-size: 7vw;
  color: rgb(30, 96, 116);
  text-shadow: 5px 4px #333B3F, 7px 6px white;
  padding-top: .4rem;
  font-family: "Oswald", sans-serif;
  width: inherit;
  letter-spacing: 9px;
  font-weight: 900;
}

.about-subtitle {
  text-align: center;
  font-size: 3.5vw;
  color: rgb(30, 96, 116);
  font-weight: bolder;
  margin-left: 0% 5rem;
  width: inherit;
  letter-spacing: 5px;
  font-family: "Oswald", sans-serif;
  text-shadow: 1px 1px whitesmoke;
}

.about-main {
  color: whitesmoke;
  margin: 1% 5rem;
  font-family: "Jost", sans-serif;
  text-align: justify;
  padding-bottom: 30px;
}

.crew-container-1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

/* crew card */
.crew-card-container {
  border-radius: 5px;
  display: flex;
  width: 35%;
  justify-content: center;
  margin: 5rem;
  background-color: black;
  padding: 2rem;
  box-shadow: 0.3em 0 0.6em rgb(30, 96, 116), -0.4em 0 0.6em rgb(30, 96, 116);
}

.crew-card-name {
  font-size: 4vw;
  color: #1f6174;
  font-family: "Oswald", sans-serif;
  letter-spacing: 5px;
}

.crew-card-image {
  border-radius: 5px;
  padding: 0.5rem;
  width: 40%;
  height: auto;
  margin-left: 2rem;
}

.crew-card-position {
  font-size: 1.2rem;
  letter-spacing: 5px;
}

.crew-card-text-container {
  display: flex;
  flex-direction: column;
  color: whitesmoke;
  margin: 1rem;
  justify-content: center;
}

.crew-card-icon-image {
  border-radius: 5px;
  margin: 0.3rem;
  width: 45px;
}

.crew-card-icon {
  border-radius: 15px;
  text-decoration: none;
  color: whitesmoke;
  display: flex;
  align-content: center;
  justify-content: center;
}

.crew-card-icon-text {
  margin: auto;
  margin-left: 0px;
  font-size: 0.6rem;
  font-family: "Jost", sans-serif;
}

span {
  color: #1f6174;
}

@media only screen and (max-width: 1500px) {
  .about-title-container {
    height: 40vh;
    width: auto;
    background-position: center bottom;
  }

  #about-title {
    padding-top: 10rem;
  }

  .about-subtitle {
    font-size: 2rem;
    margin: 1rem;
  }

  .about-main {
    margin: 1rem 2.5rem;
    font-size: 2.2vw;
  }

  .crew-card-container {
    display: flex;
    width: 70%;
    justify-content: center;
    margin: 2rem;
    padding: 1rem;
  }

  .crew-card-text-container {
    margin: 0.2em;
  }

  .crew-card-icon-text {
    font-size: 2vw;
  }
}

@media only screen and (max-width: 1200px) {
  .about-title-container {
    height: 30vh;
    width: auto;
    background-position: center bottom;
  }

  #about-title {
    padding-top: 3rem;
  }

  .about-subtitle {
    font-size: 2rem;
    margin: 1rem;
  }

  .about-main {
    margin: 1rem 2rem;
    font-size: 2.5vw;
  }

  .crew-card-container {
    display: flex;
    width: 80%;
    justify-content: center;
    margin: 2rem;
    padding: 1rem;
  }

  .crew-card-text-container {
    margin: 0.2em;
  }
}

@media only screen and (max-width: 900px) {
  .about-title-container {
    height: 30vh;
    width: auto;
    background-position: center bottom;
  }

  #about-title {
    padding-top: 3rem;
  }

  .about-subtitle {
    font-size: 1rem;
    margin: 1rem;
  }

  .about-main {
    margin: 1% 1rem;
    font-size: 2.5vw;
  }

  .crew-card-container {
    display: flex;
    width: 80%;
    justify-content: center;
    margin: 1rem;
    padding: 1rem;
  }

  .crew-card-text-container {
    margin: 0.4em;
  }
}

@media only screen and (max-width: 600px) {
  .about-title-container {
    height: 11em;
    width: auto;
    background-position: center bottom;
  }

  #about-title {
    padding-top: 3rem;
  }

  .about-subtitle {
    font-size: 1.4rem;
    margin: 1rem;
  }

  .about-main {
    margin: 1% 1rem;
    font-size: 2.5vw;
  }

  .crew-card-container {
    display: flex;
    width: 80%;
    justify-content: center;
    margin: 1rem;
    padding: 0.5rem;
  }

  .crew-card-position {
    font-size: 0.8rem;
  }

  .crew-card-text-container {
    margin: .7em;
  }
}
